
<div class="cards-container">
  <div class="card" *ngFor="let a of fakeArray; let index = index">
    <img src="https://www.motofichas.com/images/phocagallery/KTM/125-sx-2022/01-ktm-125-sx-2022-estudio.jpg" alt="img">
    <div class="card-info">
      <h1 class="title">KTM Sx 125</h1>
      <div class="description">
        <div class="item">
          <span class="title"><b>Precio: </b></span>
          <span class="value">$31'500.00</span>
        </div>
        <div class="item">
          <span class="title"><b>Descripci&oacute;n: </b></span>
          <span class="value">La mejor</span>
        </div>
      </div>
      <div class="btn-wp">
        <button class="btn">Ver m&aacute;s!</button>
      </div>
    </div>
  </div>
</div>
