<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text'
                 [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'
           *ngIf='listFilter'>
        <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='users && users.length'>
          <thead>
            <tr>
              <th>
                <button class='btn btn-primary'
                        (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th>Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Gender</th>
              <th>Born Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of filteredUsers'>
              <td>
                <div *ngIf='showImage'>Image is going to appear here</div>
              </td>
              <td>
                <a>
                  {{ user.name | titlecase}}
                </a>
              </td>
              <td>{{ user.lastName | titlecase}}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.gender | titlecase}}</td>
              <td>{{ user.bornDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
  </div>